doctype html
html
  head
    title= title
    link(rel='stylesheet', href='http://yui.yahooapis.com/pure/0.6.0/base-min.css')
    link(rel='stylesheet', href='http://yui.yahooapis.com/pure/0.6.0/pure-min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(type='text/javascript', src='https://d3js.org/d3.v3.min.js')
    script(type='text/javascript', src='https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js')
    script(type='text/javascript', src='/scripts/mainapp.js')
    script(type='text/javascript', src='/scripts/fileservice.js')
    script(type='text/javascript', src='/scripts/controller.js')
    script(type='text/javascript', src='/scripts/directiveD3.js')
  body(ng-app='NoSViewApp')
    block content
