extends layout

block content

  #main.pure-g(ng-controller='NoSViewController')
    header.pure-u-1-1.center
      h2 Welcome to #{title}
    #left.pure-u-1-5.panel
      h3 File uploads
      form.pure-form.pure-form-stacked(data-ng-submit='uploadXML()' enctype='multipart/form-data')
        fieldset
          legend Upload XML file(s):
          label(for='xmlFile') Multiple files can be selected.
          input.pure-input-3-4(type='file' id='xmlFile' name='xmlFile' multiple required)
          label.pure-checkbox(for='archive').
            #[input(name='archive' type='checkbox' ng-model='xmlData.archive')]
            Save service data
          label(for='archiveName') Save as...
          input.pure-input-3-4(name='archiveName' type='text' placeholder='Name to save data as' ng-model='xmlData.archiveName')
          button.pure-button.pure-button-primary(type='submit') LOAD DATA
      form.pure-form.pure-form-stacked(data-ng-submit='uploadCSV()' enctype='multipart/form-data' ng-show='nos.graph.nodes')
        fieldset
          legend Upload CSV file(s):
          input.pure-input-3-4(type='file' id='csvFile' name='csvFile' required)
          label.pure-checkbox(for='archive').
            #[input(name='archive' type='checkbox' ng-model='csvData.archive')]
            Save service data
          label(for='archiveName') Save as...
          input.pure-input-3-4(name='archiveName' type='text' placeholder='Name to save data as' ng-model='csvData.archiveName')
          button.pure-button.pure-button-primary(type='submit') LOAD DATA
      h3 Run algorithm
      p Cool stuff happens here... SOON
    #center.pure-u-3-5
      d3-svg(data='nos.graph.nodes', link='nos.graph.connections')
    #right.pure-u-1-5.panel
      h3 NoS statistics
      p Load XML with service data to view
      table.pure-table
        tbody
          tr.pure-table-odd
            td Number of services
            td {{stats.numberOfServices || '-'}}
          tr
            td Total inputs
            td {{stats.inputsTotal || '-'}}
          tr.pure-table-odd
            td Inputs average
            td {{stats.inputsAverage || '-'}}
          tr
            td Total outputs
            td {{stats.outputsTotal || '-'}}
          tr.pure-table-odd
            td Outputs average
            td {{stats.outputsAverage || '-'}}
          tr
            td Total connections
            td {{stats.connectionsTotal || '-'}}
          tr.pure-table-odd
            td Connections average
            td {{stats.connectionsAverage || '-'}}
      h3 DNoS statistics
      p Load CSV with service usage data to view
      table.pure-table
        tbody
          tr.pure-table-odd
            td Total recorded time
            td {{stats.totalTime || '-'}}
          tr
            td Number of calls
            td {{stats.totalCalls || '-'}}
          tr.pure-table-odd
            td Calls to this repository
            td {{stats.repositoryCalls || '-'}}
          tr
            td Usable data percentage
            td {{stats.usableData || '-'}}
    footer.pure-u-1-1.center
      p.
        (c) 2015-2016 Dorota Kawalec
        #[a(href='mailto:179317@student.pwr.wroc.pl') 179317@student.pwr.wroc.pl]
        W-08 Wydział Informatyki i Zarządzania Politechnika Wrocławska
  