extends layout

block content

  #main.pure-g(ng-controller='NoSViewController')
    header.pure-u-1-1.center
      h2 Welcome to #{title}
    #left.pure-u-1-5.panel
      h3.noselect.active(ng-model='hideForms' ng-click='hideForms = !hideForms') #[img(src='/images/triangle.png' ng-class='{rotate180: !hideForms, rotate90: hideForms}')] File uploads
      form.pure-form.pure-form-stacked.dynamic(data-ng-submit='uploadXML()' enctype='multipart/form-data' ng-class='{zeroHeight: hideForms}')
        fieldset
          legend Upload XML file(s):
          label(for='xmlFile') Multiple files can be selected.
          input.pure-input-3-4(type='file' id='xmlFile' name='xmlFile' multiple required)
          label.pure-checkbox(for='archive').
            #[input(name='archive' type='checkbox' ng-model='xmlData.archive')]
            Save service data
          label(for='archiveName') Save as...
          input.pure-input-3-4(name='archiveName' type='text' placeholder='Name to save data as' ng-model='xmlData.archiveName')
          button.pure-button.pure-button-primary(type='submit') LOAD DATA
      form.pure-form.pure-form-stacked.dynamic(data-ng-submit='uploadCSV()' enctype='multipart/form-data' ng-show='nos.graph.nodes' ng-class='{zeroHeight: hideForms}')
        fieldset
          legend Upload CSV file(s):
          input.pure-input-3-4(type='file' id='csvFile' name='csvFile' required)
          label.pure-checkbox(for='archive').
            #[input(name='archive' type='checkbox' ng-model='csvData.archive')]
            Save service data
          label(for='archiveName') Save as...
          input.pure-input-3-4(name='archiveName' type='text' placeholder='Name to save data as' ng-model='csvData.archiveName')
          button.pure-button.pure-button-primary(type='submit') LOAD DATA
      h3.noselect.active(ng-model='hideTimeframes' ng-click='hideTimeframes = !hideTimeframes') #[img(src='/images/triangle.png' ng-class='{rotate180: !hideTimeframes, rotate90: hideTimeframes}')] Timeframe selection
      form.pure-form.pure-form-stacked.dynamic(ng-class='{zeroHeight: hideTimeframes}') 
        fieldset
          .pure-control-group
            label(for='numberOfTimeframes') Number of timeframes:
            select(name='numberOfTimeframes' ng-model='numberOfTimeframes' ng-options='option for option in availableTimeframes')
          .pure-control-group
            label(for='selectedTimeframe') Time start:
            input.pure-input-3-4(type='range' min='{{first}}' max='{{last}}' step='{{stats.timeframeLength}}' ng-model='timeStart')
          .pure-control-group
            label(for='selectedTimeframe') Time end:
            input.pure-input-3-4(type='range' min='{{first}}' max='{{last}}' step='{{stats.timeframeLength}}' ng-model='timeEnd')
          .pure.control-group
            p.tip If you're experiencing low performance, try working with shorter timeframes or load smaller datasets.
          .pure-control-group
            button.pure-button.pure-button-primary(type='button' ng-click='applyTimeframe()') APPLY
      h3.noselect.active(ng-model='hideAlgorithms' ng-click='hideAlgorithms = !hideAlgorithms') #[img(src='/images/triangle.png' ng-class='{rotate180: !hideAlgorithms, rotate90: hideAlgorithms}')] Algorithm runner
      p.dynamic(ng-class='{zeroHeight: hideAlgorithms}') Cool stuff happens here... SOON
    #center.pure-u-3-5
      d3-svg(data='nos.graph.nodes', link='nos.graph.connections', timeframe='dnos.currentConnections')
    #right.pure-u-1-5.panel
      h3 NoS statistics
      p Load XML with service data to view
      table.pure-table
        tbody
          tr.pure-table-odd
            td Number of services
            td {{stats.numberOfServices || '-'}}
          tr
            td Total inputs
            td {{stats.inputsTotal || '-'}}
          tr.pure-table-odd
            td Inputs average
            td {{stats.inputsAverage || '-'}}
          tr
            td Total outputs
            td {{stats.outputsTotal || '-'}}
          tr.pure-table-odd
            td Outputs average
            td {{stats.outputsAverage || '-'}}
          tr
            td Total connections
            td {{stats.connectionsTotal || '-'}}
          tr.pure-table-odd
            td Connections average
            td {{stats.connectionsAverage || '-'}}
      h3 DNoS statistics
      p Load CSV with service usage data to view
      table.pure-table
        tbody
          tr
            td Number of calls
            td {{stats.totalCalls || '-'}}
          tr.pure-table-odd
            td Calls to this repository
            td {{stats.repositoryCalls || '-'}}
          tr
            td Usable data percentage
            td {{stats.usableData || '-'}}
          tr.pure-table-odd
            td Total recorded time
            td {{(stats.totalTime || '-') + ' [ms]'}}
          tr
            td Timeframe length
            td {{(stats.timeframeLength || '-') + ' [ms]'}}
    footer.pure-u-1-1.center
      p.
        (c) 2015-2016 Dorota Kawalec
        #[a(href='mailto:179317@student.pwr.wroc.pl') 179317@student.pwr.wroc.pl]
        W-08 Wydział Informatyki i Zarządzania Politechnika Wrocławska
  