* {
	box-sizing: border-box;
}
html, body {
	height: 100%;
}
header, footer {
	background-color: #000;
}
header > h2, footer > p {
	color: #777;
}

form {
	margin-bottom: 30px;
	color: #444;
}
form button {
	margin-top: 10px;
}
form label, form input {
	color: #555;
}
form.pure-form legend {
	border-bottom: 1px solid #bbb;
}

table {
	margin-bottom: 30px;
}

a {
	color: #0078e7;
}

.center {
	text-align: center;
}
.panel {
	padding: 15px 0 0 15px;
	background-color: #DDD;
}

#main {
	height: 100%;
}